


Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:

    Extract the second element of the list.

    Extract the first to third (inclusive) element of the list.

    Extract only the last element of the list.

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

In [2]:
shopping[1]

'ham'

In [4]:
shopping[:3]

['spam', 'ham', 'eggs']

In [5]:
shopping[-1]

'ham'

Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

    Append Edinburgh Waverley to the end of the list
    Add "Queen Street" to the start of the list
    Find out what index "Croy" is at in the list
    Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
    Remove "Haymarket" from the list of stops
    Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [6]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [7]:
# Append Edinburgh Waverley to the end of the list

stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [8]:
# Add "Queen Street" to the start of the list

stops.reverse()
stops.append("Queen Street")
stops.reverse()
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [11]:
# Find out what index "Croy" is at in the list

stops.index("Croy")

1

In [21]:
# Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")

In [22]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [23]:
# Remove "Haymarket" from the list of stops

stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [25]:
# Remove all items from stops

stops.clear()
stops

[]




Question 3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

    Return the keys, values and items from this dictionary

    Take out only the name from it

    Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

    Delete the job description from the dictionary (Hint: look up the del function)

In [26]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [28]:
#    Return the keys, values and items from this dictionary

person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [29]:
person.values()

dict_values(['Steph', 31, True])

In [30]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [31]:
#    Take out only the name from it

person["name"]

'Steph'

In [32]:
#     Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

person.update({
    "pair" : "steph@codeclan.com"
})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'pair': 'steph@codeclan.com'}

In [35]:
#     Delete the job description from the dictionary (Hint: look up the del function)

person.pop("Instructor")

True

In [36]:
person

{'name': 'Steph', 'age': 31, 'pair': 'steph@codeclan.com'}




Question 4

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

    Print out a list of the even integers:

    Print the difference between the largest and smallest value:

    Print True if the list contains a 2 next to a 2 somewhere.

    Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [37]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [44]:
#     Print out a list of the even integers:

for number in numbers:
    if number % 2 == 0:
        print(number)

6
2
2
6

In [43]:
#     Print the difference between the largest and smallest value:

max(numbers) - min(numbers)

98

In [51]:
#    Print True if the list contains a 2 next to a 2 somewhere.

string = [2, 2]
if string in numbers:
    print(True)
else:
    print(False)

False

In [ ]:
#    Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22